{% extends 'base/base.html' %}

{% block main %}
    <div class="container-fluid">
        <h4 class="text-center alert alert-danger"> FUNCTION BASED CRUD VIEW USING AJAX</h4>

        <div class="row">
            
            <div class="col-lg-6">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
                    <input id="btnsave" type="button" value="Save">
                </form>
            </div>

            <div class="col-lg-6">

                <table>
                    <thead>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </thead>

                    <tbody id="userData">

                        {% for user in users %}
                            <tr>
                                <td>{{forloop.counter}})</td>
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.age}}</td>
                                <td>
                                    <input type="button" data-sid="{{user.id}}" id="edit" class="btn btn-warning btn-sm" value="Edit">
                                    <input type="button" data-sid="{{user.id}}" id="delete" class="btn btn-danger btn-sm" value="Delete">
                                </td>
                            </tr>   

                        {% endfor %}
                    
                    </tbody>
                                    
                </table>

            </div>

        </div>

    </div>

{% endblock main %}