<script>
$("#btnsave").click(function () {
    console.log("Save button click");
    output    = '';    
    let id    = $('#stId').val();
    let name  = $('#nameId').val();
    let email = $('#emailId').val();
    let age   = $('#ageId').val();
    let csrf  = $("input[name=csrfmiddlewaretoken]").val();

    if (name == "" || email == "" || age == ""){
        //console.log("Please fill all the textboxes");
        $('#Emsg').text("Please fill all the textboxes");
        $('#Emsg').show();
    } else {
            data = {id:id, name:name, email:email, age:age, csrfmiddlewaretoken:csrf};
            $.ajax({
            url: "{% url 'crud:create' %}",
            method: "POST",
            data: data,
            success: function(data){
                //console.log(data);
                x = data.users_data;
                if (data.status == "Saved") {
//                    console.log("Form Submitted Successfully");
                    $('#Smsg').text("Form Submitted Successfully");
                    $('#Smsg').show();

                    for (i=0; i<x.length; i++){
                        output += "<tr>"
                                      +"<td>" + (i+1) +")" +    "</td>"
                                      +"<td>" + x[i].name + "</td>"
                                      +"<td>" + x[i].email + "</td>"
                                      +"<td>" + x[i].age +   "</td>"
                                      +"<td>" 
                                            +"<input type='button' class='btn btn-warning btn-sm' value='Edit' id='edit' data-sid=" + x[i].id +">"
                                            +" <input type='button' class='btn btn-danger btn-sm' value='Delete' id='delete' data-sid=" + x[i].id +">"
                                       +"</td>"
                                   +"</tr>";
                        }

                    $("#userData").html(output);
                    $("#stId").val('');
                    $("form")[0].reset();
                    console.log(data.users_data)
                }else{
                    $('#Emsg').text("Failed To Submit");
                    $('#Emsg').show();
                    //console.log("Failed To Submit");
                }
            },
        });
    }
});

            /// Delete View


$("tbody").on("click", "#delete", function(){
    console.log("Button delete clicked");
    let id = $(this).attr("data-sid");
    let csrf  = $("input[name=csrfmiddlewaretoken]").val();

    //console.log(id);
    data = {id:id, csrfmiddlewaretoken:csrf},
    mythis = this;
    $.ajax({
        url: "{% url 'crud:delete' %}",
        method: "POST",
        data: data,
        success: function(data) {
            if (data.status == 1) {
                console.log("Successfully Deleted");
                $(mythis).closest("tr").fadeOut();
            }else{
                console.log("Failed To Delete");
            }
        },
    });
});

            /// Edit View

$("tbody").on("click", "#edit", function(){
    console.log("Button Edit clicked");
    let id = $(this).attr("data-sid");
    let csrf  = $("input[name=csrfmiddlewaretoken]").val();

    //console.log(id);
    data = {id:id, csrfmiddlewaretoken:csrf};
    $.ajax({
        url: "{% url 'crud:update' %}",
        method: "POST",
        data: data,
        success: function(data) {
            if (data.status == 1) {
                //console.log("Successfully Edited");
                $('#stId').val(data.user.id);
                $('#nameId').val(data.user.name);
                $('#emailId').val(data.user.email);
                $('#ageId').val(data.user.age);

            }else{
                console.log("Failed To Edit");
            }
        },
    });
});

</script>